
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello, @ViewBag.UName. Your information has been saved! Thank you for signing up for Super Awesome Coffee Rewards!</h2>
