@{
    ViewBag.Title = "Super Awesome Coffee Shop";
}

<div class="jumbotron">
    <h1>Super Awesome Coffee Shop</h1>
    <p class="lead">Super Awesome Coffee Shop is super awesome. Please click the link below to sign up!</p>
    <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coffee Story</h2>
        <p>
            Here at Super Awesome Coffee Shop, we strive to give the best user experience. We know you could go to any
            coffee shop, so we are very thankful you chose us. Please ignore the lackluster appearance, we are still learning.
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Register, Dang It! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>You're Still Reading?</h2>
        <p>Why are you still reading this? You should be registering.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Common Now, Register! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seriously?</h2>
        <p>Now you're just being stubborn. Register, or else!</p>
        <p><a class="btn btn-default" href="/Home/Contact">Click Here to Register! &raquo;</a></p>
    </div>
</div>