
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hell, @ViewBag.UName. Your information has been saved! Thank you for signing up for Super Awesome Coffee Rewards!</h2>
